html {
  background-color: #f4f4f4;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: transparent; /* 避免蓋掉 html 背景色 */
}

.container {
  width: 100%;
}

@media (min-width: 40rem) {
  .container {
    max-width: 40rem;
  }
}

@media (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}

@media (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}

@media (min-width: 96rem) {
  .container {
    max-width: 96rem;
  }
}

.main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.slogn {
  background-color: transparent;
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  text-align: left;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
}

.article {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.content-list {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  margin-bottom: 15px;
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: justify;
  margin-bottom: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content_time {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: justify;
  margin-bottom: 30px;
}

.button-group {
  margin-top: 30px;
  display: flex;
  gap: 8px;
}

.inline-form {
  display: inline; /* 或 inline-block */
  margin: 0; /* 移除 form 預設 margin */
}

.button {
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  padding: 8px 16px;
}

.button:hover {
  background-color: #f0f0f0;
}

.button-delete {
  background-color: #000; /* 紅色警示 */
  color: #fff;
  border: none;
}
.button-delete:hover {
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #000;
}

.form-field {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.form-field label {
  width: 100px;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  flex: 1; /* 讓 input/textarea 填滿剩餘空間 */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
