{% extends 'layouts/default.html' %}
{% load static %}

{% block main %}
<h3>登入</h3>

<form method="post">
  {% csrf_token %}
  <label for="username">Username: </label>
  <input type="text" name="username" required id="username">

  <label for="password">Password: </label>
  <input type="password" name="password" required id="password">

  <input type="hidden" name="next" value="{{ request.GET.next }}">

  <button type="submit">Login</button>
</form>

{% if form.errors %}
{{ form.non_field_errors }}
{% endif %}

<p>還沒有帳號嗎？</p>
<a href="{% url 'accounts:register' %}" class="button">註冊</a>
{% endblock %}