{% extends 'layouts/default.html' %} {% load static %} {% block main %}
<div class="accounts">
  <div class="title">登入</div>

  <form method="post">
    {% csrf_token %}

    <div class="form-field label">
      <label for="username">Username:</label>
      <input type="text" name="username" required id="username" />
    </div>

    <div class="form-field label">
      <label for="password">Password:</label>
      <input type="password" name="password" required id="password" />
    </div>

    <input type="hidden" name="next" value="{{ request.GET.next }}" />

    <div class="form-field">
      <button type="submit" class="button">登入</button>
    </div>
  </form>

  {% if form.errors %}
  <div class="error-messages">{{ form.non_field_errors }}</div>
  {% endif %}

  <a href="{% url 'accounts:register' %}" class="button">註冊</a>
</div>
{% endblock %}
