<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}Blog{% endblock %}</title>
      {% load static %}
      <link href="{% static 'dist/output.css' %}" rel="stylesheet" />
      <link rel="stylesheet" href="{% static 'assets/styles/input.css' %}" />
      <link rel="stylesheet" href="{% static 'assets/styles/styles.css' %}" />
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="w-full fixed top-0 left-0 bg-white shadow">
      <div class="max-w-7xl mx-auto px-16">
        {% include 'shared/navbar.html' %}
      </div>
    </nav>
    <main class="pt-16">
      <section class="max-w-7xl px-2 mx-auto mt-8">
        <div class="slogn">Rise and Shine</div>
        {% block main %}{% endblock %}
      </section>
    </main>
    <footer></footer>
  </body>
</html>

