<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}Blog{% endblock %}</title>
      {% load static %}
      <link href="{% static 'dist/output.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/styles/input.css' %}" />
      <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <link rel="stylesheet" href="{% static 'assets/styles/styles.css' %}">
  </header>
  </head>
  <body>
    <div class=main>
      <nav>{% include 'shared/navbar.html' %}</nav>
      <section class="max-w-7xl px-2 mx-auto mt-33 md:mt-17">
      <div class=slogn>Rise and Shine</div>
        {% block main %}{% endblock %}
      </section>
    </main>
    <footer></footer>
  </body>
</html>

