{% extends "layouts/default.html" %} 
{% load static %}

{% block main %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
  </head>
  <body>
    <div class="main">
      {% for blog in blogs %}
      <div class="article">
        <div class="title">{{ blog.title }}</div>
        <div class="content-list">{{ blog.content }}</div>
        <a href="/blogs/{{ blog.id }}/" class="button">繼續觀看</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
{% endblock %}

